.panel-flex {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -o-flexbox;
    display: flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
	margin:0 0 30px 0;
}
.panel-flex>div {
    padding: 0px;
    margin: 10px;
    margin-bottom: 20px;
    position: relative;
}
.panel-flex div[class*="col"]>div.aem-Grid {
	height:100%;
}