		<div class="col-lg-2 col-sm-2 col-xs-12">
			<sly data-sly-resource="${@path='col1', resourceType='wcm/foundation/components/responsivegrid'}"/>
		</div>
		<div class="col-lg-2 col-sm-2 col-xs-12">
			<sly data-sly-resource="${@path='col2', resourceType='wcm/foundation/components/responsivegrid'}"/>
		</div>
		<div class="col-lg-2 col-sm-2 col-xs-12">
			<sly data-sly-resource="${@path='col3', resourceType='wcm/foundation/components/responsivegrid'}"/>
		</div>
		<div class="col-lg-2 col-sm-2 col-xs-12">
			<sly data-sly-resource="${@path='col4', resourceType='wcm/foundation/components/responsivegrid'}"/>
		</div>
		<div class="col-lg-2 col-sm-2 col-xs-12">
			<sly data-sly-resource="${@path='col5', resourceType='wcm/foundation/components/responsivegrid'}"/>
		</div>
		<div class="col-lg-2 col-sm-2 col-xs-12">
			<sly data-sly-resource="${@path='col6', resourceType='wcm/foundation/components/responsivegrid'}"/>
		</div>